@model IEnumerable<ProjectSEM3.EF.Producer>
<div class="span12" style="background-color: #af4448; ">
    <nav>
        <!--MENU-->
        <ul class="menu" id="nav">
            <li class="menu_home_link"><a href="/Home"><i class="icon-home"></i></a></li>
            <li class="dropdown">
                <a href="#">THƯƠNG HIỆU</a>
                <ul class="level0 one-column">
                    <li>
                        <ul class="shadow">
                            <li class="list_column">
                                <ul class="list_in_column">
                                    @foreach (var item in Model)
                                    {
                                        <li class="level1"> <a href="/dong-ho/@item.MetaTitle-@item.ID"> <span>@item.Name</span> </a> </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li> <a href="/feed-back/">Phản hồi </a> </li>
            <li> <a href="#">Liên hệ </a> </li>
            <li> <a href="/bai-viet/">Tin tức </a> </li>
        </ul>
        <!--MENU-->
    </nav>
</div>
